/*

#E27D60
#85DCB0
#E8A87C
#C38D9E
#41B3A3


#E2C044
#2E5266
#6E8898



*/
.btn {
  transition: 0.3s ease-in-out;
}

.btn:hover, .header-buttons:hover {
  filter: contrast(150%);
}

.header-buttons {
  background: #41B3A3 !important;
  color: white !important;
}

.main-nav a {
  color: white !important;
  text-shadow: 1px 1px 0px #52222287;
}

.main-nav a:hover span, .main-nav li.active a span, .main-nav li.active a:hover span {
  border-bottom: 2px solid white !important;
}

.main-nav .btn-campaing {
  color: white !important;
  border-color: #E27D60 !important;
  box-shadow: 1px 1px 0px #52222242;
  background: #e27c60;
}

.main-nav .drop-down ul {
  background: #ffffff54;
}

#header .logo h1 a {
  color: #E27D60 !important;
  text-shadow: 1px 1px 0px #44231a7d;
}

#intro {
  background: #734e34d6 !important;
}

#header .logo h1 a {
  color: white !important;
  text-shadow: 1px 1px 0px #38373770;
  opacity: 0.8;
}

header.header-scrolled {
  background: #41B3A3 !important;
  box-shadow: 0px 0px 5px #1d564e !important;
}

header.header-scrolled .main-nav a {
  color: white !important;
  text-shadow: 1px 1px 0px #143a347d;
}

header.header-scrolled .main-nav .btn-campaing {
  color: white !important;
  border-color: #E27D60 !important;
  box-shadow: 1px 1px 0px #52222242;
  background: #E27D60;
  text-shadow: 0px 1px 0px #4e291fcc;
}

header.header-scrolled .main-nav .drop-down ul {
  background: #41B3A3 !important;
}

#header.header-scrolled .logo h1 a {
  color: white !important;
  text-shadow: 1px 1px 0px #38373770;
  opacity: 1;
}

.back-video {
  opacity: 0.45 !important;
  filter: grayscale(10%) !important;
}

.plask {
  font-size: 24px;
  color: white;
  padding: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-shadow: 1px 1px 0px #264c38b0;
}

#call-to-action .btn-campaing {
  background: #E27D60;
  border-color: #E27D60;
  box-shadow: 0px 5px 15px #e27d6073;
}

#call-to-action .btn-campaing.outline {
  border-color: #d6beb7;
  color: #d6beb7 !important;
}

#call-to-action .btn-campaing.outline:hover {
  border-color: #E27D60 !important;
  color: #E27D60 !important;
}

.section-header h3 {

    color: #e27c60;
    border-color: none;
    font-size: 30px;
    letter-spacing: 0.08em;
    line-height: 2em;
    /* display: inline-block; */
    background: none;
    border: none;
    padding-left: 0px;
    font-weight: 400;
    /* text-shadow: 2px 2px 1px #eab4a5c2; */
    background: none;
    padding-left: 35px;
    /* border-top: 1px solid #e27c6012;
    border-bottom: 1px solid #e27c6012; */
        border-left: 15px solid #e2c044bf;
}

.why-us .why-us-content .features {
  border-radius: 10px;
  background: none;
  border-bottom: none;
  box-shadow: none;
}

.why-us .why-us-content .features h4 {
  color: #E27D60;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-shadow: none;
    line-height: 1.30em;
    padding-left: 30px;
    padding-right: 30px;
}
.why-us .why-us-content .features h4 span {
  font-size: 17px;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-weight: 800;
}

.why-us .why-us-content .features:hover {
  background: #e27c60;
 transform: scale(1.1);

}

.why-us .why-us-content .features:hover h4 {
  color: white;
  text-shadow: 1px 1px 0px #56565566;
}

.why-us .why-us-content .features:hover .icon-svg-header svg path {
  fill: #E27D60;
}

.icon-svg-header {
  background: #E27D60;
  /* box-shadow: 2px 2px 0px #652b1b78; */
  box-shadow: inset 4px 3px 0px #8239255c;
}

.icon-svg-header svg path {
  fill: white;
}

#call-to-action {
  background: none;
}

#colls {
  box-shadow: 0px 15px 70px #6d6d6d57;
  position: relative;
}

#colls .color-blue {
  background: #3ca999;
  box-shadow: inset -10px 13px 100px #1d635921;
}

#colls .color-white {
  color: white;
  background: #E2C044;
  box-shadow: inset 12px 11px 80px #deb522ab;
}

#colls .color-white svg path {
  fill: white;
}

.container-borders {
  border-top: 1px solid #ffffff45;
  border-bottom: 1px solid #ffffff4d;
}

.owl-carousel .owl-item img {
  /* filter: grayscale(100%); */

}

.devices-carousel .owl-dot span {
  border: 1px solid #E27D60;
}

.devices-carousel .owl-dot.active span {
  background: #E27D60;
}

#call-to-action {
  background: none;
}

#call-to-action .cta-title {
  color: #1d5f56;
    font-weight: 200;
    padding-bottom: 30px;
    font-size: 26px;
    text-shadow: 0 0 2px #27796e9e;
}

#call-to-action .badge-secondary {
  color: #c48c9e;
  border: 1px solid #c48c9e;
      font-size: 14px;
      padding-left: 10px;
    padding-right: 10px;
    line-height: 14px;
    border-color: #e27c6042;
    color: #e27c60;
}

#call-to-action .cta-text {
  color: #e27c60;
  margin-bottom: 50px;
      font-size: 20px;
}

.map-back {
  filter: hue-rotate(145deg);
  opacity: 0.8;
}

#footer .footer-links a {
  color: #7f9e9a;
}

#footer .footer-links a:hover {
  color: #E27D60 !important;
}

.quotes-carousel .block-quote img {

}

.quotes-carousel .block-quote {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.quotes-carousel .owl-item {
  transition: 0.3s ease-in-out;
}

.quotes-carousel .owl-item.active {
  opacity: 1;
}

.quotes-carousel .owl-item.active+.owl-item {
  /* opacity: 0.3; */
}

.quotes-carousel .block-quote div {
  background: #FFFFFF;
    /* border: 1px solid #e27c608f; */
    box-sizing: border-box;
    box-shadow: 6px 6px 0px #0a3a3336;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    background: #40b3a3;
    text-shadow: 1px 1px 0px #77311fc4;
    border-radius: 22px;
}

.quotes-carousel .owl-stage-outer {
  /* width: 200%; */
}
.quotes-carousel .owl-dots {
  text-align: center;
}
.quotes-carousel .owl-dot span {
  width: 14px;
    height: 14px;
    border-radius: 14px;
    background: none;
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    background: none;
  border: 1px solid #E27D60;
}

.quotes-carousel .owl-dot.active span {
  background: #E27D60;
}


#call-to-action header h3 {
  margin-top:0px;
}
.svg-promo {
  text-align: center;
      padding-top: 70px;
}
.svg-promo svg {
  width: 50%;
  height: auto;
  opacity: 0.9;
}
.text-promo {
  color: #2f120591;
      text-shadow: 1px 1px 0px #1c5a5200;
      font-weight: 200;
      line-height: 1.9em;
      font-size: 20px;
      letter-spacing: 0.06em;
      padding-top: 50px;
      padding-bottom: 50px;
      background: #ead07717;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 18px;
      margin-top: 50px;

}
.oblivki-logo {
  font-family: "Quicksand", sans-serif;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 24px;
    color: #40b3a3;
}

.text-promo strong {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #e28678;
  text-shadow: 1px 1px 0px #5f2a2221;
  border-bottom: 2px dotted #d4675647;
}

a.link-contries-map {
  display: flex;
  border-radius: 30px;
padding-top: 2px;
padding-bottom: 2px;
    padding-left: 10px;
  font-weight: 500;
  line-height: 38px;
  font-size: 16px;
      color: #524413ab;
}
a.link-contries-map .badge-light {
  color: #031915;
background-color: #ffe78eba;
/* float: right; */
position: absolute;
right: 35px;
margin-top: 5px;
padding: 7px;
font-size: 13px;
font-weight: 200;
border-radius: 30px;
box-shadow: 2px 2px 0px #6157327d;
}

a.link-contries-map:hover .badge-light, a.link-contries-map.hover .badge-light {
  transform: scale(1.4);
box-shadow: 1px 2px 0px #522b1f59;
background: #ffa188;
}
a.link-contries-map:hover, a.link-contries-map.hover {

      background: #ffd74d9e;
}
.text-promo.map-links {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top:120px;
}

a.link-contries-map i {
  font-size: 28px;
  margin-right: 8px;
}

#call-to-action .map-column .btn-campaing {
  border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
padding-left: 20px;
    padding-right: 20px;
    margin-top:160px;
        padding-bottom: 8px;
        width: 100%;
}


.cpa-awards {
  position: fixed;
      /* top: -7px; */
      width: 160px;
      background: linear-gradient(45deg, #ffefa0, #ffdaaa);
      height: 190px;
      left: 15px;
      padding: 20px;
      box-shadow: 0 10px 30px #a08638a6;
      border-radius: 10px;
      /* padding-right: 40px; */
      filter: contrast(1.1);
      border: 2px solid #fff5df70;
      padding-bottom: 10px;
      z-index: 99999999;
      /* border-top-right-radius: 0px; */
      /* border-bottom-right-radius: 0px; */
      transition: 0.3s ease-in-out;
      padding-left: 10px;
      padding-right: 10px;
      bottom: -127px;
      padding-top: 15px;
      cursor: pointer;

}
.cpa-awards svg {
  width: 100%;
  height: 100%;
}
.cpa-awards:hover {
  bottom: -15px;
    box-shadow: 0 10px 30px #a0863869;

}

#chartdiv {
  text-align: right;
  overflow: hidden;
}
#chartdiv svg {
  width: 100%;
}
#ancrus:hover, #anckz:hover, #ancua:hover, #ancby:hover, #ancde:hover, #ancus:hover {

}
